* {
    font-family: "Jua", sans-serif;
    text-align: center;
    background-color: lightgray;
}

h1 {
    font-size: 48px;
    margin-bottom: -8px;
}

p {
    font-size: 24px;
}

.sign-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.sign-list > div {
    width: 200px;
    height: 200px;
    /* margin: 0 40px; */
}

.sign-list > div > img {
    width: 150px;
    height: 150px;
}