* {
    font-family: "Jua", sans-serif;
    text-align: center;
    background-color: lightgray;
}

h1 {
    font-size: 48px;
    margin-bottom: -8px;
}

p {
    font-size: 24px;
}

.sign-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
}

.sign > i {
    background-color: white;
    font-size: 72pt;
}

.sign:hover,
.sign > i:hover {
    background-color: lightblue;
}

.sign:active,
.sign > i:active {
    background-color: skyblue;
}